{% extends "base.html" %}
{% import"bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="page-header">
        <h1>Your Auroras</h1>
        <a href="{{ url_for('aurora.add_aurora') }}" class="btn btn-default">Add</a>
    </div>

    {% for aurora in auroras %}
        {% set status = aurora.status %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ aurora.name }} ({{ status }})</div>
            <div class="panel-body">
                <div class="container">
                    <div class="row pad">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default"
                                   href="{{ url_for('.aurora_on', ip_address=aurora.ip_address, port=aurora.port, token=aurora.token) }}">On</a>
                                <a class="btn btn-default"
                                   href="{{ url_for('.aurora_off', ip_address=aurora.ip_address, port=aurora.port, token=aurora.token) }}">Off</a>
                            </div>
                        </div>
                    </div>

                    <div class="row pad">
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ aurora.selected_effect }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {% for effect in aurora.effects %}
                                        <li>
                                            <a href="{{ url_for('.set_effect', ip_address=aurora.ip_address, port=aurora.port, token=aurora.token, effect=effect) }}">{{ effect }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input
                                    type="range"
                                    min="1"
                                    max="100"
                                    step="1"
                                    value="{{ aurora.brightness }}"
                                    id="{{ aurora.ip_address }}"
                                    data-token="{{ aurora.token }}"
                                    data-port="{{ aurora.port }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            const sliders = document.querySelectorAll('input[type=range]');

            $(sliders).each(function () {
                var _this = $(this);
                _this.rangeslider({
                    polyfill: false,
                    onSlideEnd: function (position, value) {
                        $.post("{{ url_for('.set_brightness') }}",
                            {
                                ip_address: _this.attr('id'),
                                token: _this.data('token'),
                                port: _this.data('port'),
                                brightness: value
                            }
                        )
                    }
                });
            });
        });
    </script>
{% endblock %}
